{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wypożyczalnia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'wypozyczalnia/login.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'wypozyczalnia/style.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
  <div class="site_header" id="header">
    <img src="/media/images/logo.png" alt="logo" id="logo">
    {% if user.is_authenticated %}
      <div class="sub-panel"><a href="{% url 'wypozyczalnia:logout_view' %}"><button class="disabled">Jesteś zalogowany jako {{user.username}}<p id="pp">(wyloguj)</p></button></a></div>
      <div class="sub-panel"><a href="{% url 'wypozyczalnia:account' %}"><button>Moje Konto</button></a></div>
    {% else %}
      <div class="sub-panel"><a href="{% url 'wypozyczalnia:login_view' %}"><button>Zaloguj</button></a></div>
      <div class="sub-panel"><button class="disabled">Moje Konto</button></div>
    {% endif %}
    <div class="sub-panel"><a href="{% url 'wypozyczalnia:index' %}"><button>Książki</button></a></div>
  </div>
  <div id="form">
    <h2>Logowanie</h2>
    {% if exist %}
    <p>Nie istnieje taki użytkownik</p>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <p style="text-align: left;">Login: <input type="text" name="username" value=""></p>
      <p style="text-align: left;">Hasło: <input type="password" name="password" value=""></p>
      <button type="submit">Zaloguj</button>
    </form>
  </div>
</body>
</html>
